
@{
    Layout = null;
}

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>ActionName</title>
</head>
<body>
    <div>The Controller is:@ViewBag.Controller</div>
    <div>The action is:@ViewBag.Action</div>
</body>
</html>

